* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contenedor {
	width:95%;
	max-width:1300px;
	margin:auto;

	display:flex;
	flex-flow:row wrap;
}

body {
	background:#02010a;
}

header {
	background:#5b7989;
	width:100%;
	padding:20px;

	display: flex;
	justify-content:space-between;
	align-items:center;

	flex-direction:row;
	flex-wrap:wrap;
}

header .NombrePagina a {
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 2px #02010a;
  line-height:50px;
}
header nav {
	width:40%;

	display:flex;
	flex-wrap:wrap;
	align-items:center;
}
header nav a {
  color: white;
	text-align: center;
	text-decoration: none;
  text-decoration: underline;
	padding:5px;
  font-size: 1.2rem;

	flex-grow:1;
}
#LinkInicio{
  text-decoration: none;
}
